.container-fluid {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 0;
}

.container-fluid .row{
    margin: 0;
}

/* Navbar */

.navbar {
    border-bottom: 1px solid #333;
    margin-bottom: 20px;
}

.navbar-nav {
    margin: auto;
}

.navbar-brand {
    font-weight: bold;
    margin-left: 10px;
}

.navbar-light .navbar-nav a.nav-link {
    color: #333;
    letter-spacing: 1px;
}

/* Botão de adicionar */

#add-link {
    text-decoration: none;
}

.add-div {
    background-color: #3476e2;
    cursor: pointer;
    display: inline-block;
    color: #FFF;
    padding: 8px;
    border-radius: 5px;
    margin-right: 25px;
}

.fas.fa-plus {
    color: #FFF;
    margin-right: 10px;
    margin-left: 5px;
}

/* Search */

.fas.fa-search {
    position: absolute;
    top: 12px;
    right: 26px;
    cursor: pointer;
}

.search-div {
    padding: 0px;
    margin-top: 15px;
    margin-bottom: 15px;
    display: inline-block;
    position: relative;
}

/* Filter */

.filter-div {
    padding: 0px;
    margin-bottom: 15px;
}

#filter{
    display: inline-block;
    width: 200px;
    margin-left: 10px;
}

/* Lista de tarefas */

.list-div {
    padding: 0;
    flex:1;
}

.task-list {
    padding-left: 0;
}

.task-item {
    list-style: none;
    font-size: 20px;
    height: 50px;
    padding: 0 15px;
    padding-top: 10px;
    border-bottom: 1px dashed #ccc;
}

.status-task{
    font-size: 10px;
    font-weight: bold;
    margin-left: 10px;
    box-sizing: border-box;
    appearance: none;
    border: none;
    color: dimgrey;
    background-color: lightgrey;
    padding-inline: var(--ds-space-050, 4px);
    display: inline-flex;
    border-radius: var(--ds-border-radius, 3px);
    block-size: min-content;
    position: static;
    overflow: hidden;
}

.doing .status-task{
    font-size: 10px;
    font-weight: bold;
    margin-left: 10px;
    box-sizing: border-box;
    appearance: none;
    border: none;
    color: #FFD700;
    background-color: lightyellow;
    padding-inline: var(--ds-space-050, 4px);
    display: inline-flex;
    border-radius: var(--ds-border-radius, 3px);
    block-size: min-content;
    position: static;
    overflow: hidden;
}

.done .status-task{
    font-size: 10px;
    font-weight: bold;
    margin-left: 10px;
    box-sizing: border-box;
    appearance: none;
    border: none;
    color: green;
    background-color: lawngreen;
    padding-inline: var(--ds-space-050, 4px);
    display: inline-flex;
    border-radius: var(--ds-border-radius, 3px);
    block-size: min-content;
    position: static;
    overflow: hidden;
}

.task-item.done {
    background-color: #CCC;
}

.fas.fa-trash, .fas.fa-edit, .fas.fa-check , .fas.fa-undo,  .fas.fa-play{
    cursor: pointer;
    margin: 5px;
    font-size: 20px;
    float: right;
}

.fas.fa-trash {
    color: #db1e47;
}

.fas.fa-edit {
    color: #13c43f;
}

.fas.fa-check{
    color: #CCC;
}

.done .fas.fa-check {
    color: #3476e2;
}

/* Rodapé */

footer {
    background-color: #333;
    height: 300px;
    border-top: 2px solid #202020;
}

footer p {
    color: #f5f5f5;
    text-align: center;
    top: 50%;
    position: relative;
}

/*  Messages */

ul.messages {
    padding: 0;
}

ul.messages li {
    list-style: none;
}

/* Paginação */

.pagination {
    margin-bottom: 20px;
}

.step-links {
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.step-links .current {
    margin-left: 5px;
    margin-right: 5px;
}

/* Login */

.auth-card{
    margin-bottom: 30px;
}

.change-form-p{
    margin-top: 30px;
    text-align: center;
}

/* dashboards */

.dashboard {
    margin-top: 20px;
    padding: 0;
    width: 100%;
    display: block;
}

.dashboard h4{
    font-size: 15px;
}

.dashboard span{
    font-size: 40px;
    display: block;
    margin-bottom: 10px;
}

.dashboard-box {
    float: left;
    background-color: #dfdfdf;
    color: #FFFFFF;
    padding: 20px;
    box-sizing: border-box;
    height: 130px;
    width: 23%;
    margin: 0 1% 1% 0;
}

#dashboard-lastdays{
    background-color: #3476e2;

}
#dashboard-doing{
    background-color: #f6f665;
}

#dashboard-done{
    background-color: #13c43f;
}

#dashboard-todo{
    background-color: grey;
}

.retornar {
    background-color: #555555;
    cursor: pointer;
    display: inline-block;
    color: #FFF;
    padding: 8px;
    border-radius: 5px;
}

/* dash-ref */
.dashboard-ref{
    margin: 20px 0;
    padding: 0;
    width: 100%;
    display: block;
}

.dashboard-ref a{
    text-decoration: none;
    color: #333;
    font-size: 20px;
}

